<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarthak.musicapp.app">

    <application>
        <activity android:name="com.example.sarthak.musicapp.playing"
            android:label="playing"></activity>
    </application>

</manifest>